/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
  width: 25%;
  height: auto;
}

body {
  background-image: url('../Assets/images.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  margin-top:10%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/